

.listcon{
	width:100%;min-height: 1200px;background:#ffffff;position: relative;left:0px;margin-top:410px;
}
.tablisttongren_h{
	position: relative;width:1040px;height: 60px;margin-left:40px;margin-top:23px;border-bottom: 1px solid #e1e1e1;
}
.tablisttongren_h a{
	display: block;width:173px;color: #989898;height: 60px;float:left;text-align: center;line-height: 60px;font-size: 21px;
}
.tablisttongren_h a:hover{
	border-bottom: 2px solid #8b6042;color: #090909;
}
.tablisttongren_h a.current {
border-bottom: 2px solid #8b6042;
}
.tab_maintongren{    height: auto;
    width: 1075px;
    font-size: 14px;
    color: #3c3c3c;
    margin-left: 35px;}
.tab_maintongren .show-body{width:100%;position: relative;display:none;padding-top:0px;margin-top: 33px;}
.tab_maintongren .show-body.current{display: block;}
.listscon{
	width :242px;height: auto;/*float: left;margin-right: 22px;*/
}
.listcon_1{
	width:240px;height: auto;	position: relative;;
}
.listimg{
position: relative;
	width:240px;height:auto;
/*	min-height: 100%;*/
}
.listbg{
	width:100%;height: 100%;display: none;
	background: #000000;opacity: 0.6;position: absolute;left:0px;top:0px
}
.listhover{
	z-index: 2;width:93px;height: 75px;position: absolute;left:50%;margin-left: -46px;top:50%;margin-top: -37px;
}
.listcon_2{
	width:100%;height: 42px;
}
.listcon_2p1{
	width:100%;height:42px ;line-height: 42px;float: left;font-size: 15px;text-align: center;    color: #3c3c3c;
}
.listcon_2p2{
	width:auto;height:42px ;line-height: 42px;float: right;font-size: 15px;    color: #3c3c3c;
}



.more {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    border-radius: 3px;
    color: #000;
   /* background: #666;*/
    margin: 20px auto;
    cursor: pointer;
    display:none;
    float: left;
}
.more div{
	background: #666;
	width: 150px;
    height: 30px;
    position: relative;
    margin:0 auto;
}
.maximg{
	    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    z-index: 999;
    cursor: pointer;
}
.maximg img{
width:auto;height:100%;position: absolute;opacity: 1;
/*left:50%;margin-left: -240px;top:50%;margin-top: -140px;z-index:10000;*/
margin:0 auto;z-index:10000;
 cursor: pointer;
}





